[submodule "gitmodules/forge-std"]
	path = gitmodules/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "gitmodules/openzeppelin-contracts"]
	path = gitmodules/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
